header {
    font-size: 62.5%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 4rem 0 4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    backdrop-filter: blur(50px);
    z-index: 1000;
  }
 
  
  header .nav #menu {
    display: flex;
    gap: 6rem;
  }
  
  header .nav #menu li a {
    font-size: 1rem;
    color: white;
    transition: 0.3s ease-in-out;
  }
  
  header .nav #menu li a:hover {
    text-decoration: underline;
    transition: 0.2s ease-in-out;
  }
  
  header .nav #btn-mobile {
    display: none;
  }
  
  @media (max-width: 698px) {
    header .nav #menu {
      display: block;
      position: absolute;
      top: 8.5rem;
      right: 2rem;
      height: 0;
      transition: 0.6s;
      z-index: 1000;
      visibility: hidden;
      overflow-y: hidden;
    }
  
    header .nav.active #menu {
      height: 27rem;
      visibility: visible;
    }
  
    header .nav #menu li {
      display: flex;
      border-bottom: 2px solid white;
      width: 200px;
      background-color: rgba(0, 0, 0, 0.473);
      backdrop-filter: blur(50px);
      padding: 1.5rem;
      justify-content: center;
    }
  
    header .nav #btn-mobile {
      display: flex;
      padding: 1.5rem 0.5rem;
      background: none;
      cursor: pointer;
      background-color: hsl(216, 53%, 9%);
      box-shadow: 0 0 5px hsl(176, 68%, 64%), 0 0 10px hsl(176, 68%, 64%),
        0 0 20px hsl(176, 68%, 64%), 0 0 40px hsl(176, 68%, 64%);
      border-radius: 0.5rem;
      margin-left: 2rem;
    }
  
    header .nav #btn-mobile #hambuerguer {
      display: block;
      color: white;
      border-top: 2px solid;
      width: 2.5rem;
      position: relative;
    }
  
    header .nav #btn-mobile #hambuerguer::after,
    header .nav #btn-mobile #hambuerguer::before {
      content: "";
      display: block;
      background: currentColor;
      width: 100%;
      height: 2px;
      position: absolute;
      transition: 0.3s ease-in-out;
    }
  
    header .nav #btn-mobile #hambuerguer::before {
      top: -7px;
    }
  
    header .nav #btn-mobile #hambuerguer::after {
      bottom: -5px;
    }
  
    header .nav.active #btn-mobile #hambuerguer {
      transform: rotate(45deg);
    }
  
    header .nav.active #btn-mobile #hambuerguer::before {
      transform: rotate(90deg);
      top: 0;
    }
  
    header .container .nav.active #btn-mobile #hambuerguer::after {
      transform: rotate(90deg);
      bottom: 0;
    }
  }