@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .header .container img {
    width: 20%;
  }

  .header .container .navegation ul {
    font-size: 0.6rem;
  }


  .main .intro {
    background: url(../images/bg-curvy-mobile.svg) no-repeat center,
      linear-gradient(
        to top,
        var(--background-main) 0%,
        var(--background-main) 36%,
        var(--background-testimonials) 35%,
        var(--background-testimonials) 100%
      );
    background-size: contain;
    width: 100%;
  }

  .main .intro .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .main .intro .container img {
    width: 80%;
  }

  .main .intro .container .info h2 {
    font-size: 1.5rem;
    width: 85%;
  }

  .main .intro .container .info p {
    font-size: 0.9rem;
    width: 80%;
  }

  .main .services .container {
    display: flex;
    gap: 0;
  }

  .main .commercial .container .commercial-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
  }

  .main .commercial .container .commercial-1 h2 {
    max-width: 90%;
    font-size: 1rem;
  }

  .main .commercial .container .commercial-1 p {
    max-width: 96%;
    font-size: 0.9rem;
  }

  .main .comments .container {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin-bottom: 5rem;
  }

  .main .comments .container .card-comments {
    margin: 0.8rem 0 0 -0.8rem;}

  .main .comments .container .card-comments p {
    font-size: 0.7rem;
  }

  .main .register .container {
    max-width: 90%;
    height: auto;
  }

  .main .register .container .card-register h2 {
    font-size: 1.3rem;
  }
  .main .register .container .card-register p {
    max-width: 75%;
  }

  .main .register .container .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .main .register .container .form input,
  .main .register .container .form button {
    width: 100%;
  }

  footer .container .loc,
  footer .container .logo img,
  footer .container .loc .address,
  footer .container .loc .nav-footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 0.5rem; 
    gap: 1rem;

    }

    footer .container .loc .midia{
        display: flex;
    justify-content: center;
    }
}

@media(max-width: 730px){
    .main .intro {
        background: url(../images/bg-curvy-mobile.svg) no-repeat center,
          linear-gradient(
            to top,
            var(--background-main) 0%,
            var(--background-main) 40%,
            var(--background-testimonials) 35%,
            var(--background-testimonials) 100%
          );
        background-size: contain;
        width: 100%;
      }
}

@media(max-width: 430px){
    .main .intro {
        background: url(../images/bg-curvy-mobile.svg) no-repeat center,
          linear-gradient(
            to top,
            var(--background-main) 0%,
            var(--background-main) 42%,
            var(--background-testimonials) 35%,
            var(--background-testimonials) 100%
          );
        background-size: contain;
        width: 100%;
      }
}


  

  

  

  

  

